* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    height: 80vh;
}

/* navbar part config */
.navbarContainer {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

.icon {
    width: 25px;
    height: 25px;
}

#profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* main part config */
.mainContainer {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 15px;
}

.searchContainer {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.212);
    width: 50%;
    height: 40px;
    border-radius: 50px;
}

#plus {
    width: 20px !important; 
    height: 20px !important;
    margin-left: 5px;
}

#mic, #search, #cam {
    width: 20px !important;
    height: 20px !important;
}

.searchContainer .right {
    gap: 10px;
}

.button {
    display: flex;
    gap: 3px;
    align-items: center;
    height: 30px ;
    border-color: rgba(0, 0, 0, 0.212);
    border-radius: 15px;
}

.buttonContainer {
    display: flex;
    gap: 20px;
}
.buttonContainer button {
    border-radius: 5px;
    padding: 0px 15px;
}

/* footer part config */
.footerContainer {
    display: grid;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 80px;
    align-items: center;
    grid-template-rows: 1fr 1px 1fr;
    background-color: rgba(0, 0, 0, 0.13);
}
.region {
    padding: 0px 20px;
}

.line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.459);
}

.information {
    display: flex;
    width: 100%;
}

.left {
    display: flex;
    gap: 20px;
    padding: 0px 20px;
}

.right {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    padding: 0px 20px;
}