* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: black;
    width: 100%;
}

#conversions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home {
    margin: -1px;
    padding-top: 1cm;
    background-color: #4b0082;
}

#home nav {
    display: flex;
    padding: 0px 20px;
}

nav b {
    color: white;
}

header {
    font-size: 30px;
    color: #E6E6FA;
    float: left;
    padding-left: 2cm;
}

.topdiv {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.topmenu {
    color: lightgray;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

section.b {
    display: grid;
    align-items: center;
    justify-items: center; 
}

figure {
    float: left;
    width: 200px;
}

figure img {
    width: 200px;
}

figcaption {
    color: black;
    font-size: 17px;
    text-align: center;
}

button[id^="convert"] {
    font-size: 20px;
    border: transparent;
    border-radius: 40px;
    background-color: lightgreen;
    padding-left: 15px;
    padding-right: 15px;
}

button[id^="convert"]:hover {
    cursor: pointer;
}

.b {
    border-top-style: solid;
    border-top-width: 20px;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    height: 400px;
    margin: 25px 0px;
    display: flex;
}

.temperature { 
    border-top-color: green; 
    background-color: white;
}

.weight { 
    border-top-color: coral; 
}

.distance { 
    border-top-color: cyan; 
}

legend {
    font-size: 30px;
    font-weight: bolder;
}

.iconbutton {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: white;
    position: fixed;
    left: 10px; 
    bottom: 50%;
}

.custom-fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    padding: 0;
    margin: 0;
}

.iconbutton svg, .iconbutton img {
    width: 30px;
}

footer {
    background-color: white;
    margin-top: 20px;
}